AnswerSearch/env
AnswerSearch/linux-env
AnswerSearch/Data
AnswerSearch/DataQuery/config.json
AnswerSearch/IDF/idf.csv
AnswerSearch/Word2Vec/word2vec.model*
AnswerSearch/Word2Vec/corpus.txt
AnswerSearch/*/__pycache__